body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: rgba(255, 217, 84,.02);
    line-height: 50px;
    //width: 100%;
    //position: fixed;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

header h1 {
    padding-left: 7%;
    float: left;
}

header h2 {
    padding-right: 30px;
    float: right;
    line-height: 60px;
    
}

#bio section {
    margin: 20px 7%;
}

#experience section {
    margin: 0 7% 20px 7%;
    padding-bottom: 30px;
}

.experience-title h3 {
    margin-top: 20px;
}

#last {
    padding-right: 7%;
}

#section1 {
}

#bio #section1 img {
    margin-right:20px;
    width: calc(24% - 20px);
}

p {
    margin: 8px 0;
    //line-height: 22px;
    
}

#section2 h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#list1, #list2 {
    width: 49%;
    display: inline-block;
}

#list1 li, #list2 li{
    margin-bottom: 25px;
}

a {
    color: black;
    text-decoration: none;
}

.image-section {
    margin: 20px 0px;
}

.work-image-span {
    height: 30vw;
    min-height: 250px;
    max-height: 375px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#work-image-1 {
    background-image: url(https://fillmurray.com/2854/800);
}

#work-image-2 {
    background-image: url(https://placecage.com/2854/800);
}

#work-image-3 {
    background-image: url(https://stevensegallery.com/2854/800);
}

#work-image-4 {
    background-image: url(https://placebear.com/2854/800);
}

#work-image-5 {
    background-image: url(https://placecage.com/2854/800);
}



.work-image-span img {
    width: 100%;
}

.work-experience #section2 {
    width: 65%;
    margin: 0 auto;
}

.work-experience p {
    letter-spacing: 1.2px;
}

.experience-single {
    border-bottom: 1px solid grey;
}

.experience-title {
    width: 20%;
    padding-right: 10%;
    //border: 2px solid blue;
    display: inline-block;
    vertical-align: top;
}

.experience-content {
    width: 69%;
    //border: 2px solid green;
    display: inline-block;
    padding-top: 4px;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
}

.experience-content p {
    padding-left: 25px;
}

.experience-content li {
    font-size: 14px;
    font-weight:300;
    margin-bottom:4px;
}

.experience-title h3 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}

#experience-overview {
    border-bottom: 1px solid grey;
}

footer {
    padding: 20px 7%;
    font-family: 'Roboto', sans-serif;
}

footer h4 {
    font-weight: 300;
    float:left;
    margin-top:2px;
}

#social-icons {
    float: right;
    width: 80px;
    height: 50px;
}

.social-container {
    width: 50%;
    float: right;
}

.social-container img {
    //height: 100%;
}

#work .image-section {
    margin: 40px 0;
}

.work-image-text {
    width: 60%;
    height: calc(100% - 100px);
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#first-text {
    align-items: center;
    justify-content: center;
}

.work-image-items {
    padding-top: 100px;
    flex-direction: column;
}

#first-text h2 {
    text-align: center;
    font-size: 56px
}

header h2 a:hover {
    text-decoration: underline;
}

.work-image-text h2:hover , .work-image-text p:hover {
    text-decoration: underline;
}

#first-text h2:hover {
    text-decoration: none;
}

#experience-overview a:hover {
    text-decoration: underline;
}